<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后台右侧主体内容区公共头部，</title>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/skin.css"  />
	<script language="javascript" src="__PUBLIC__/admin/js/jquery-1.8.3.min.js"></script>
	<script language="javascript" src="__PUBLIC__/admin/layer/layer.min.js"></script>
	<if condition="CONTROLLER_NAME neq 'Comment' && CONTROLLER_NAME neq 'ArticleContent'">
	<script language="javascript" src="__PUBLIC__/admin/js/checkboxes.js"></script>
	</if>
	<script language="javascript" src="__PUBLIC__/admin/js/mdyDialog.js"></script>
</head>
<body>