<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>找回密码--{$webname}</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/home/guangfacaifu/common.css">
	<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/SuperSlide.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/commont.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/switch.js"></script>
    <style>.findPassword .ulList ul li .tig_i{ width:180px; text-align:left;}</style>
    <script language="javascript">
	var storusername=1;
	var stopemail=1;
	function checkForm(){
	  if(document.getElementById('username').value == ""){
		document.getElementById('user_account_div').style.display="";
		document.getElementById('user_account_div').style.color="#ff0000";
		document.getElementById('user_account_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">用户名不能为空';
		return false;
	  }else if(document.getElementById('email').value == ""){
		document.getElementById('user_email_div').style.display="";
		document.getElementById('user_email_div').style.color="#ff0000";
		document.getElementById('user_email_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">邮箱不能为空';
		return false;
	  }else if(!document.getElementById('chkXy').checked){
		alert('您必须同意隐私政策和服务条款才能注册');
		return false;
	  }

	  if(stopemail == 0 ){
		return false;
	  }
	}
	</script>
	<!--[if IE 6]>
	<script src="js/IE6Js.js"></script>
	<script>
	  /* EXAMPLE */
	  DD_belatedPNG.fix("div","img","span","p","i","li","ul","a");
	  
	  /* string argument can be any CSS selector */
	  /* .png_bg example is unnecessary */
	  /* change it to what suits you! */
	</script>
	<![endif]-->
</head>
<body>
	<!--head--> 
		<include file="Public:head"/>
	<!--head结束-->
    <div class="mainBox webAuto clearfix">
		<div class="findPassword">
			<div class="PublicTitle title">
				<h2 class="fl">找回密码</h2>
			</div>
			<div class="ulList">
				<div class="LayerWrap clearfix">
					<dl class="Layer">
						<dt class="current"><img src="__PUBLIC__/Images/home/guangfacaifu/icon-N1.png" height="60" width="60" alt="">填写用户名</dt>
						<dd class="centerBG-1"></dd>
						<dt><img src="__PUBLIC__/Images/home/guangfacaifu/icon-N2.png" height="60" width="60" alt="">验证账户信息</dt>
						<dd class="centerBG-2"></dd>
						<dt class="last"><img src="__PUBLIC__/Images/home/guangfacaifu/icon-N3.png" height="60" width="60" alt="">修改密码</dt>
					</dl>
				</div>
				<ul>
					<form action="__URL__/rt_getpwd" onsubmit="return checkForm()" method="post">
					<li>
						<span class="tig">用户名：</span>
						<input type="text" class="text" value="注册用户名.." id="username" onblur="checkAccount(this.value,this.value)" name="username" onFocus="if (value =='注册用户名..'){value =''}" >
                        <span  class="tig_i" id="user_account_div"></span>
						<!-- <span class="error red"><img src="__PUBLIC__/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">该用户名可以使用</span>
						<span class="error green"><img src="__PUBLIC__/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt="">该用户名可以使用</span> -->
					</li>
					<li>
						<span class="tig">Email：</span>
						<input type="text" class="text" id="email" onblur="checkEmail(this.value,this.value)" name="email"  value="Email.." onFocus="if (value =='Email..'){value =''}">
                        <span class="tig_i" id="user_email_div"></span>
						<!-- <span class="error red"><img src="__PUBLIC__/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">该用户名可以使用</span>
						<span class="error green"><img src="__PUBLIC__/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt="">该用户名可以使用</span> -->
					</li>
					<li>
						<span class="tig">验证码：</span>
						<input type="text" class="text CodeInput" name="verify" id="verify">
						<img width="100px" height="40px" class="fl getCode" onclick="fleshVerify()" src="/Public/verify/" id="verifyImg" style="border: 1px solid #049E19;margin-left:15px;">
						<!-- <img src="__PUBLIC__/Images/home/guangfacaifu/banner2.jpg" height="42" width="120" class="fl getCode" alt=""> -->
						<!-- <span class="error red"><img src="__PUBLIC__/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">该用户名可以使用</span>
						<span class="error green"><img src="__PUBLIC__/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt="">该用户名可以使用</span> -->
					</li>
					<li>
						<span class="tig">&nbsp;</span>
						<input type="submit" class="submitButton btn" value="提交">
					</li>
					</form>
				</ul>
			</div>
		</div>
	</div>
	<!--footer--> 
		<include file="Public:footer"/>
	<!--footer结束-->
    <script>
	function fleshVerify(){
			 //重载验证码
		  var timenow = new Date().getTime();
		  document.getElementById('verifyImg').src= '__URL__/verify/'+timenow;
		  $('.getCode').html('刷新验证码');
		
	}

	//检测邮箱  
	var t;
	function checkEmail(type,vId){
	  if(document.getElementById('email').value == ""){
		document.getElementById('user_email_div').style.display="";
		document.getElementById('user_email_div').style.color="#ff0000";
		document.getElementById('user_email_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">邮箱不能为空';
		return false;
		stopjump=0;
	  }
	  stopemail = 1;
	  var temp = document.getElementById("email");
	  //对电子邮件格式的验证
	  var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
	  if(!myreg.test(temp.value)){
		 document.getElementById('user_email_div').style.color="#ff0000";
		 document.getElementById('user_email_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">邮箱格式不正确';
		 stopemail = 0;
		 return false;         
	  }else{
		$.post("__URL__/check_user_email",'type='+type+'&id='+vId,function(req){
		 //alert(req);
		  if( req == '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt=""><span class="red">邮箱已经被使用请更换!</span>' ){
			document.getElementById('user_email_div').style.color='#1da7b4';
			document.getElementById('user_email_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt="">存在该邮箱！';
		  }else if( req == '<img src="/Public/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt=""><span class="green">该邮箱可以使用!</span>' ){
			document.getElementById('user_email_div').style.color='red';
			document.getElementById('user_email_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">邮箱不存在！';
			stopemail = 0;
			return false;
		  }else{
			document.getElementById('user_email_div').style.color='red';
			document.getElementById('user_email_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">数据异常，请稍后再试!';
			stopemail = 0;
			return false;
		  }
		},'html');
	  }
	  t = type; 
	}

	//检测用户名 
	var t;
	function checkAccount(type,vId){
	  if(document.getElementById('username').value.length ==''){
		document.getElementById('user_account_div').style.color="#ff0000";
		  document.getElementById('user_account_div').innerHTML ='<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">用户名不能为空！';
		return false;
	  }
	  storusername  = 1;
	  var temp = document.getElementById("username");
	  //对汉字格式验证
	  var myreg =/([\u4e00-\u9fa5]+|[a-zA-Z0-9]+)$/;
	  if(!myreg.test(temp.value)){
		 document.getElementById('user_account_div').style.color="#ff0000";
		 document.getElementById('user_account_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt="">该字符违法,请输入英文大小写字母、数字、中文!';
		 storusername  = 0;
		 return false;         
	  }
	  t = type; 
	  $.post("__URL__/check_user_account",'type='+type+'&id='+vId,function(req){
		//alert(req);
		if( req == '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt=""><span class="red">该用户名已被使用!</span>'){
			document.getElementById('user_account_div').style.color='#1da7b4';
		  document.getElementById('user_account_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt="">用户存在！';
		}else if( req == '<img src="/Public/Images/home/guangfacaifu/icon_ok.jpg" class="vam Oiconk" alt=""><span class="green">该用户名可以使用!</span>' ){
		  document.getElementById('user_account_div').style.color='red';
		  document.getElementById('user_account_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">用户不存在！';
		  storusername  = 0;
		  return false;
		}else{
		  document.getElementById('user_account_div').style.color='red';
		  document.getElementById('user_account_div').innerHTML = '<img src="/Public/Images/home/guangfacaifu/icon_no.jpg" class="vam Oiconk" alt="">数据异常，请稍后再试!';
		  storusername  = 0;
		  return false;
		}
	  },'html');
	  
	}
	</script>
</body>
</html>