<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>登录-{$webname}</title>
	<link rel="stylesheet" href="__PUBLIC__/home/default/css/common.css">
	<!--<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/SuperSlide.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/commont.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/home/guangfacaifu/switch.js"></script>-->
    <script>
	  function fleshVerify(){
	  //重载验证码
	  var timenow = new Date().getTime();
	  document.getElementById('verifyImg').src= '{:U("User/verify","","")}'+'/'+timenow;
	  }
	  /*密码框提示
	  $(document).ready(function(){
	    $('.pass1').focus(function(){
	      $(this).hide();
	      $('.pass2').show();
	      $('.pass2').focus();
	    });
	    $('.pass2').focusout(function(){
	      var value = $(this).val();
	      if(value == ''){
	        $(this).hide();
	        $('.pass1').show();
	      }
	    });
	  });*/
</script>
	<!--[if IE 6]>
	<script src="js/IE6Js.js"></script>
	<script>
	  /* EXAMPLE */
	  DD_belatedPNG.fix("div","img","span","p","i","li","ul","a");
	  
	  /* string argument can be any CSS selector */
	  /* .png_bg example is unnecessary */
	  /* change it to what suits you! */
	</script>
	<![endif]-->
</head>
<body>
	<!-- 头部 -->
     	<include file="Public:head"/>
    <!-- /头部 -->
    <!-- headerWrap end -->
	<div class="mainBox webAuto clearfix">
		<div class="loginBox">
			<div class="title"><h2 class="fl">用户登录</h2></div>
			<ul class="content">
				<form action="{:U('User/doLogin')}" method="post" id="loginSubmit">
					<li><input type="text" class="text" size="25" name="loginname" placeholder="用户名"><span class="tig">用户名/邮箱/手机</span></li>
					<li><input type="password" class="text pass1" size="25" name="password" placeholder="密码"><span class="tig">密码</span></li>
					<li>
                    	<input type="text" class="text codeinput" name="code" value="输入验证码" onfocus="if (value =='输入验证码'){value ='',type='text'}" onblur="if (value ==''){value='输入验证码',type='text'}" size="12">
                        <a class="vfBtn" href="javascript:void(0);" ><img class="codeImg fl" height="38" width="80" style="margin:1px 1px;vertical-align: super;" id="verifyImg" src="{:U('User/verify','','')}" onclick="fleshVerify()" alt="验证码" /></a>
						<span class="tig">输入验证码</span>
					</li>
					<li><input type="submit" class="loginbutton" value="立即登陆"></li>
					<li><a href="{:U('User/signUp')}" class="blue">免费注册</a><a href="{:U('User/findPassword')}">忘记密码？</a></li>
				</form>
			</ul>
		</div>
	</div>
	<!-- friend Links -->
	<!-- 底部 -->
		<include file="Public:footer"/>
	<!-- /底部 -->
</body>
</html>