<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='Refresh' content='{$waitSecond};URL={$jumpUrl}'>
<!-- css  -->
	<link rel="stylesheet" href="__PUBLIC__/Css/home/guangfacaifu/common.css">
<!-- css结束 -->
<title>邮箱激活</title>
</head>

<body>
	<!--top、head、nav--> 
	<include file="Public:head"/>
	<!--head结束-->

	<!-- main -->
	<div class="main clearfix">
		<div style="height:100px"></div>
		<div style="width:900px; float:none; margin:30px auto 30px auto;text-align:center">
        	<div style=" font-size:18px">激活成功</div>
        </div>
        <div style="height:100px"></div>
	</div>
	<!-- main end -->

	<!-- footer -->
    <include file="Public:footer"/>
	<!-- footer end -->
</body>
</html>
