<link href="__PUBLIC__/cb/css/skin.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="__PUBLIC__/cb/js/jquery-1.4.3.min.js"></script>
<script language="javascript" src="__PUBLIC__/cb/js/checkboxes.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
-->
</style>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="17" valign="top" background="__PUBLIC__/cb/images/mail_leftbg.gif"><img src="__PUBLIC__/cb/images/left-top-right.gif" width="17" height="29" /></td>
		<td valign="top" background="__PUBLIC__/cb/images/content-bg.gif">
		<table width="100%" height="31" border="0" cellpadding="0"
			cellspacing="0" class="left_topbg" id="table2">
			<tr>
				<td height="31">
				<div class="titlebt3">{$roename}</div>
				</td>
			</tr>
		</table>
		</td>
		<td width="16" valign="top" background="__PUBLIC__/cb/images/mail_rightbg.gif"><img src="__PUBLIC__/cb/images/nav-right-bg.gif" width="16" height="29" /></td>
	</tr>
	<tr>
		<td valign="middle" background="__PUBLIC__/cb/images/mail_leftbg.gif">&nbsp;</td>
		<td valign="top" bgcolor="#F7F8F9">
		<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" class="td_top">
                  <div>
                    <form method="post" id="search" name="search" action="{:U("User/AdminManage?type_id=$search[type_id]")}" style="margin-bottom:2px;" autocomplete="off" >
                     <div style="float:left;">
                        用户名：
                        <input type="text" name="username" id="username" value="{$search.username}"/>
                        真实姓名
                        <input type="text" name="realname" id="realname" value="{$search.realname}"/>
                        邮箱
                        <input type="text" name="email" id="email" value="{$search.email}"/>
                        <input type="button" value="搜索"  onclick="javascript:search.submit();" style="cursor:pointer;" />
                      </div>
                      <div style="float:right;">
                        <a href="{:U('Admin/Customer/AddUser')}" class="operation_add"></a>
                      </div>
                    </form>
                </div>
				</td>
			</tr>
			<tr>
				<td>
				<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC" class="content">
					<tr class="tr_title">
                      <td width="" class="main_td">ID</td>
                      <td width="*" class="main_td">管理员名</td>
                      <td width="" class="main_td">添加时间</td>
                      <td width="" class="main_td">状态</td>
                      <td width="" class="main_td">管理员类型</td>
                      <td width="" class="main_td">登录次数</td>
                      <td width="" class="main_td">操作</td>
					</tr>
					<Volist name="userdata" id="item">
					<tr class="tr_content">
                        <td class="main_td1" align="center">{$item.user_id}</td>
                        <td class="main_td1" align="center">{$item.username}</td>
                        <td class="main_td1" align="center">{$item.addtime|date="Y-m-d H:i:s",###}</td>
                        <td class="main_td1" align="center"><eq name="item.status" value="1">开通<else />隐藏</eq></td>
                        <td class="main_td1" align="center">{$item.typename}</td>
                        <td class="main_td1" align="center">{$item.logintime}</td>
                        <td class="main_td1" align="center">
                          <a href="{:U("User/UserEdit?user_id=$item[user_id]")}">修改</a>
                          <neq name="search.type_id" value="1">
                          /<a href="javascript:void(0);" onClick="javascript:if(confirm('确定要删除吗?删除后将不可恢复')) location.href='{:U("User/DelUser?user_id=$item[user_id]")}'">删除</a>
                          </neq>
                        </td>
					</tr>
					</Volist>
				</table>
				</form>
				</td>
			</tr>
			<tr>
				<td height="20">
				<div class="page">{$page}</div>
				</td>
			</tr>
			<!--<tr>
				<td height="20"><a href="__URL__/down/{$down}" class="downxls"></a></td>
			</tr>-->
			<tr>
				<td height="40"></td>
			</tr>
			<tr>
				<td width="51%" class="left_txt"><img
					src="__PUBLIC__/cb/images/icon-mail2.gif" width="16" height="11">
				客户服务邮箱：{$Think.config.sysconfig.services_email}<br>
				<img src="__PUBLIC__/cb/images/icon-phone.gif" width="17" height="14">
				官方网站：{$Think.config.sysconfig.website}</td>
			</tr>
		</table>
		</td>
		<td background="__PUBLIC__/cb/images/mail_rightbg.gif">&nbsp;</td>
	</tr>
	<tr>
		<td valign="bottom" background="__PUBLIC__/cb/images/mail_leftbg.gif"><img
			src="__PUBLIC__/cb/images/buttom_left2.gif" width="17" height="17" /></td>
		<td background="__PUBLIC__/cb/images/buttom_bgs.gif"><img
			src="__PUBLIC__/cb/images/buttom_bgs.gif" width="17" height="17"></td>
		<td valign="bottom" background="__PUBLIC__/cb/images/mail_rightbg.gif"><img
			src="__PUBLIC__/cb/images/buttom_right2.gif" width="16" height="17" /></td>
	</tr>
</table>
</body>
